
.Rproj.user/92AA62D7/sdb/prop/2ECEB78
.Rproj.user/92AA62D7/sdb/prop/INDEX
.Rproj.user/92AA62D7/sdb/s-5ECE4140/252F77D8
.Rproj.user/92AA62D7/sdb/s-5ECE4140/lock_file
.Rproj.user/92AA62D7/sdb/s-5ECE4140/27A3603D
.Rproj.user/92AA62D7/session-persistent-state
.Rproj.user/shared/notebooks/1F25C36-Final Project/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
