
.Rproj.user/92AA62D7/sdb/prop/2ECEB78
.Rproj.user/92AA62D7/sdb/prop/INDEX
.Rproj.user/92AA62D7/sdb/s-5ECE4140/252F77D8
.Rproj.user/92AA62D7/sdb/s-5ECE4140/lock_file
.Rproj.user/92AA62D7/sdb/s-5ECE4140/27A3603D
.Rproj.user/92AA62D7/session-persistent-state
.Rproj.user/shared/notebooks/1F25C36-Final Project/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/92AA62D7/pcs/files-pane.pper
.Rhistory
.Rproj.user/92AA62D7/pcs/source-pane.pper
.Rproj.user/92AA62D7/pcs/windowlayoutstate.pper
.Rproj.user/92AA62D7/pcs/workbench-pane.pper
.Rproj.user/92AA62D7/rmd-outputs
.Rproj.user/92AA62D7/saved_source_markers
.Rproj.user/92AA62D7/sdb/per/t/252F77D8
.Rproj.user/92AA62D7/sdb/per/t/27A3603D
*.Rdata
.Rproj.user/92AA62D7/sdb/s-E965D72E/252F77D8
.Rproj.user/92AA62D7/sdb/s-E965D72E/lock_file
.Rproj.user/shared/notebooks/1F25C36-Final Project/1/92AA62D7/chunks.json
